* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
}

.page {
  width: 1400px;
  margin: 0 auto;
}

.top-section {
	padding: 39px 0;
	background-color: #F3C6BD;
}

.header {
  display: flex;
  width: 1140px;
  height: 62px;
  margin: 0 auto;
}

.logo {
  display: flex;
}

.logo__img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.logo__description {
  font-size: 18px;
  line-height: 25px;
  color: #2b292d99;
}

.navigation {
  margin-left: auto;
  margin-top: 7px;
  margin-right: 75px;
}

.navigation__item {
  margin-right: 50px;
  font-size: 18px;
  line-height: 25px;
  color: #2b292d;
  text-decoration: none;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__arrow {
	display: inline-block;
	height: 5px;
	width: 8px;
	margin-left: 11px;
	background-image: url(./img/Arrow.png);
}

.navigation__item_selected {
  font-weight: bold;
}

.header__button {
  height: 48px;
	width: 160px;
	margin: 0;
	background-color: #3040c4;
	color: white;
	font-size: 18px;
	font-weight: bold;
	border: none;
	border-radius: 2px;
}
