.opportunities {
    display: flex;
    justify-content: space-around;
    min-width: 1140px;
    margin: 62px auto 0;
}

.opportunity {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 343px;   
    padding: 40px 25px;
    line-height: 30px;
    font-size: 24px;
    border-radius: 8px;
    color: $color-dark;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 11px 55px rgba(0, 0, 0, 0.07), 0px 13px 18px rgba(0, 0, 0, 0.15);
    }

    &__text {
        max-width: 293px;
        margin: 0;
        margin: 36px 0 33px;
        text-align: center;
    }

    &__link {
        margin-top: auto;
    }
}