.customers {
    display: flex;
    flex-direction: column;
}

.customers__row {
    display: flex;
}

.customers__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94px;
    width: 107px;
    flex-grow: 1;
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
}

.customers__item:last-child {
    border-right: none;
}

.customers__logo {
    max-width: 80%;
    filter: brightness(0);
}

@media screen and (min-width: 400px) {
    .customers {
        display: flex;
        flex-direction: row;
        width: 1140px;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0 106px;
    }

    .customers__row {
        flex: 1;
        justify-content: space-around;
    }

    .customers__item {
        border: none;
    }
}