.top-section {
    background-color: #F3C6BD;
}

.header {
    display: flex;
    align-items: center;
    height: 64px;
    width: 100%;
    padding-left: 15px;
    background-color: #fff;
}

.logo {
    display: flex;
}

.logo__img {
    width: 48px;
    height: 48px;
    margin-right: 13px;
}

.logo__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo__name {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
}

.logo__description {
    display: none;
}

.navigation {
    display: none;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
}

.header-button {
    display: none;
}

.header__manu-button {
    height: 100%;
    width: 58px;
    margin-left: auto;
    border: none;
    border-left: 1px solid #00000026;
    background: transparent;
}

.header__manu-icon {
    display: inline-block;
    height: 13px;
    width: 18px;
    background-image: url('../img/shape.png');
}

@media screen and (min-width: 400px) {

    .top-section {
        padding: 39px 0;
        background-color: #F3C6BD;
    }

    .header__manu-button {
        display: block;
    }

    .navigation {
        display: block;
    }

    .header {
        display: flex;
        width: 1140px;
        height: 62px;
        margin: auto;
        background-color: transparent;
    }

    .header-button {
        display: block;
    }

    .logo__description {
        display: block;
        font-size: 18px;
        line-height: 25px;
        color: #2b292d99;
    }

    .logo__img {
        width: 60px;
        height: 60px;
        margin-right: 15px;
    }

}

.navigation__item {
    margin-right: 50px;
    font-size: 18px;
    line-height: 25px;
    color: #2b292d;
    text-decoration: none;
}

.navigation__item:last-child {
    margin-right: 0;
}

.navigation__arrow {
    display: inline-block;
    height: 5px;
    width: 8px;
    margin-left: 11px;
    background-image: url(./img/arrow.png);
}

.navigation__item_selected {
    font-weight: bold;
}