* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
    color: #2B292D;
}

.page {
    display: flex;
    height: 100vh;
    width: 1400px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
}

